.EqualizeApp {
    width: 375px; 
    overflow: hidden; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    background-color: #fff; 
}

/* tablet style */
@media screen and (min-width:768px){
    .EqualizeApp {
        width: 768px; 
    }
}

/* tablet style */
@media screen and (min-width:1440px){
    .EqualizeApp {
        width: 1440px; 
        justify-content: center;
        align-items: center; 
    }
}

