.TextIntroduction{
    position: relative; 
    z-index: 2; 
    text-align: left; 
    margin: 60px 24px 0 24px; 
    color: #191826;
}

.titleIntroduction {
    font-size: 40px; 
    line-height: 48px; 
    font-weight: 600; 
}

.paragrapheIntroduction{
    margin: 20px 0 0 0; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
}


/* tablet style */
@media screen and (min-width:768px){
    .TextIntroduction{
        text-align: left; 
        width: 520px; 
        margin: 95px 0 0 40px; 
    }
    .titleIntroduction {
        font-size: 64px; 
        line-height: 64px; 
        font-weight: 600; 
    }
    .paragrapheIntroduction{
        margin: 25px 0 0 0; 
        font-size: 18px; 
        line-height: 28px; 
        font-weight: 400; 
    }
}

/* Desktop style */
    @media screen and (min-width: 1440px){
        .TextIntroduction{
            width: 1100px; 
        }
        .titleIntroduction {
            font-size: 88px; 
            line-height: 88px; 
            letter-spacing: -1px; 
            font-weight: 700; 
        }
        .paragrapheIntroduction{
            width: 825px; 
            font-size: 20px; 
            line-height: 34px; 
        }
        
    }