.TextIntroduction{
    text-align: left; 
    margin: 60px 24px 0 24px; 
}

.titleIntroduction {
    font-size: 40px; 
    line-height: 48px; 
    font-weight: 600; 
}

.paragrapheIntroduction{
    margin: 20px 0 0 0; 
    font-size: 16px; 
    line-height: 26px; 
    font-weight: 400; 
}