.Copyright {
    margin: 30px 0 0 0; 
    text-align: left; 
}

.copyright-text {
    font-size: 16px; 
    font-weight: 300; 
    line-height: 26px; 
}

.emailAdress{
    font-weight: 900; 
}

/* tablet desktop */
@media screen and (min-width: 1440px) {
    .Copyright {
        margin: 0 0 0 140px; 
    }
}
