.BgDecoration{
    width: 100%; 
    height: 600px; 
    background-color: #000; 
    background-image: url('./../../assets/bg-pattern-2.svg');
    background-repeat: no-repeat;  
    background-position: center top; 
    background-size: 70%; 
    margin-top: -340px; 
}