.BgDecoration{
    position: relative; 
    width: 100%; 
    height: 600px; 
    background-color: #000; 
    background-image: url('./../../assets/bg-pattern-2.svg');
    background-repeat: no-repeat;  
    background-position: center top; 
    background-size: 75%; 
    margin-top: -340px; 
    border-radius: 10px; 
}

/* tablet style */
@media screen and (min-width: 768px){
    .BgDecoration{
        background-size: 280px 420px; 
        background-position: center -30px;
        margin-top: -420px; 
    }
}

/* desktop style */
@media screen and (min-width: 1440px){
    .BgDecoration{
        background-image: url('../../assets/bg-main-desktop.png'); 
        background-size: 312px 470px; 
    }
}

