.DownloadBtn {
    width: 100%; 
    height: 60px; 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px; 
    line-height: 32px; 
    font-weight: 500; 
    border: none; 
    border-radius: 12px; 
    margin-top: 16px; 
}

.DownloadBtn.black {
    background-color: #000; 
    color: #fff; 
}
.DownloadBtn.white {
    background-color: #fff; 
    color: #000; 
}

/* desktop style */
@media screen and (min-width: 1440px){
    .DownloadBtn:hover {
        cursor: pointer; 
    }
    .DownloadBtn.black:hover {
        background-color: #66E2DC; 
        color: #fff; 
    }
    .DownloadBtn.white:hover {
        background-color: #FFB964; 
        color: #000; 
    }
}
