.OutsideImage{
    position: relative; 
    z-index: 1; 
    margin: 70px 0 ; 
    height: 430px; 
    width: auto; 
    object-fit: contain;
}

/* tablet style */
@media screen and (min-width: 768px){
    .OutsideImage{
        width: auto; 
        height: 560px; 
        left: -180px; 
    }
}

/* Desktop style */
@media screen and (min-width: 1440px){
    .OutsideImage{
        height: 640px; 
        width: auto; 
        left: -300px; 
    }
}